$primary:#033dfc;
$secondary:#c300d9;
$third:#cccccc;

@mixin max-width($direction) {
  display: flex;
  flex:1;
  flex-direction: $direction;
  }
  @mixin center-div {
    align-items: center;
    justify-items: center;
    text-align: center;
  }
.re-container{
  @include max-width(column);
  padding-bottom: 20px;

}
.re-chart{
  @include max-width(row);
  margin-top: 20px;
  .re-chart-active{
    @include center-div();
    background-color: $primary;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 40px;
    color:white;
  }
  .re-chart-unactive{
    @include center-div();
    background-color: $third;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
    color:white
  }
}


   @media only screen and (max-width: 768px) {
      .re-container{
        display: flex;
        flex-direction: column;
      }
   }

