


body {
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

td, th { padding: 8px; padding: .5rem;
}

th {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem;
}

td { font-family: 'Avenir Next', 'Segoe UI', 'Lucida Grande', sans-serif; 
text-align: left;}

.table {
  width: 100%;
  padding:16px 0 16px 32px;
}
.table-header{
  
}


.last-oders {
    background:#fff;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: 6px 7px 6px 4px rgba(0, 0, 0, .1);
    border-radius: 10px;
}
.last-oders > span {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;

}
.last-oders__table{
    width: 100%;
    justify-content: space-between;
}
.last-oders__table > tr {
    text-align: left;
}
.last-oders__table > td {
    height: 100px;
    text-align: left;
}

.last-oder__names{
    display: flex;
    align-items: center;

}
.avatar{
vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: fill;
}
.last-oder__name{
    color: gray;
    display: block;
    font-size: 16px;
    margin-left:10px;
    text-align: center;
    
}
