:root{
  background-color: #cccccc;
}
.dr-container{
  display: flex;
  flex-direction: column;
  box-shadow: 6px 7px 6px 4px rgba(0, 0, 0, .1);
  
  margin-top: 20px;
  height:93vh;
  background-color: #fff;
  min-width: 180px;
  padding-left: 20px;
  padding-top: 30px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.dr-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor:pointer;
  width: fit-content;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  
}
.dr-icons{
 margin-right: 10px;

}
.home-button{
  
  margin-bottom: 30px;
  margin-left: 20;
}
.logout{
  margin-top: 30px;
  margin-bottom: 50px;
}
.dr-button:hover{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor:pointer;
  background-color: #033dfc;
  margin-left: 20px;
  color: #fff;
}
.dr{
  display: flex;

  height:100vh;
}
.dr-menu{
 
  display: none;
}

@media only screen and (max-width: 850px) {
  /* For tablets: */
.dr-menu{
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: 6px 7px 6px 4px rgba(0, 0, 0, .1);
  background-color: #fff;
  position: absolute;
  
}
.dr-container{
  display: none;
  }
}